<div class="register-dropdown"><br></br>
 <div class="register-box">
    <div class="register-details">
      <div class="register-details-left">
        <h2>Register</h2>
      </div>
      <div class="register-details-middle">
        <p>12 Hay Hill<br>
          Mayfair<br>
          London<br>
          W1J 8NR</p>
      </div>
      <div class="register-details-right">
        <p><a href="tel:+44-203-034-0099">+44 (0)20 3034 0099</a><br>
        <a href="tel:+44-753-525-5726">+44 (0)7870 813256</a><br>
        <a href="mailto:info@hanningrecruitment.com">info@hanningrecruitment.com</a><br>
        </p>
      </div>
    </div>
    <div class="register-form">
       <%= simple_form_for @registration do |a| %>
          <%= a.input :name, label: false, placeholder: "Name" %>
          <%= a.input :email, label: false, placeholder: "Email" %>
          <%= a.input :phone, label: false, placeholder: "Phone" %>
          <div class="form-buttons">
            <label class="btn btn-upload-blue">
              Upload CV
              <%= a.input :cv, label: false, class: "upload-cv" %>
            </label>
            <%= a.submit "Register", class: "btn btn-register-form hidden" %>
          <% end %>
        </div>
        <div class="filename"></div>
    </div>
  </div>
</div>
<div class="landing-hanning navbar-hanning-fixed fadeIn hidden">
  <!-- Logo -->
  <%= link_to root_path, class: "landing-hanning-brand" do %>
    <%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "landing-hanning-submark" %>
    <%= image_tag "Hanning_FullLogo_RGB_Navy.png", class: "landing-hanning-logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="landing-hanning-right hidden-xs hidden-sm">
    <div class="landing-navbar-sm">
      <%= link_to "https://www.instagram.com/hanningrecruitment/?hl=en", target: "_blank" do %>
        <i class="fa fa-instagram"></i>
      <% end %>
      <%= link_to "https://twitter.com/HanningRecruit", target: "_blank" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/toby-speke-mrics/", target: "_blank" do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
    </div>

    <div class="register">
        <%= link_to ("Register"), "#", class: "btn btn-register" %>
      </div>
      <div class="register-close">
        <%= link_to ("Close"), "#", class: "btn btn-register btn-register-close hidden" %>
      </div>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="landing-hanning-item hidden-md hidden-lg hidden-xl">
  <!-- Social Media mobile only -->
    <div class="landing-navbar-sm-mob">
      <%= link_to "https://www.instagram.com/hanningrecruitment/?hl=en", target: "_blank" do %>
        <i class="fa fa-instagram"></i>
      <% end %>
      <%= link_to "https://twitter.com/HanningRecruit", target: "_blank" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/toby-speke-mrics/", target: "_blank" do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
    </div>
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle toggle-blue" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right landing-hanning-dropdown-menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "What We Do", what_we_do_path %></li>
          <li><%= link_to "About Us", about_us_path %></li>
          <li><%= link_to "Live Roles", live_roles_path %></li>
          <li><%= link_to "News", news_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="landing-transparent">
</div>
