<%= render 'shared/navbar' %>
<div class="banner-small">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504307290/Asset_3_dycbnw.png" %>
</div>
<div class="wrapper">
	<div class="page-content">
		<div class="about-us">
			<div class="about-us-left-col">
				<h2>About Us</h2>
				<hr>
				<p><strong>At Hanning Recruitment our passion for property has inspired us to redefine real estate recruitment.</strong>
				<br></br>
				Our strategic approach, combined with our enviable little black book of contacts and industry experience means we can open doors that others can’t, identifying top talent and only putting forward the most appropriate candidates. We believe in building long-term, strategic partnerships with clients and candidates alike, with successful place- ments bringing greater business benefits.
				<br></br>
				Founded by Toby Speke, Hanning Recruitment’s senior leadership team is fully MRICS qualified with industry experience that extends beyond recruitment to the commercial and residential property sectors. We know what makes our clients and candidates tick and we want to share our insights to ensure successful hires and prosperity for all parties.</p>
			</div>
			<div class="about-us-right-col">
				<div class="team-circles team-circles-first">
					<div class="team-circle" data-target="#toby">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Toby_Speke_mdhcb0.png" %>
						<div class="sector-title">
							<h5>Toby Speke MRCIS</h5>
							<h6>Managing Director</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#tom">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297633/Tom_Van_Straubenzee_jadpqp.png" %>
						<div class="sector-title">
							<h5>Thomas Van Straubenzee MRICS</h5>
							<h6>Consultant</h6>
						</div>
					</div>
				</div>
				<div class="team-circles team-circles-second">
					<div class="team-circle" data-target="#rory">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Rory_Penn_gbe6ng.png" %>
						<div class="sector-title">
							<h5>Rory Penn MRCIS IMC</h5>
							<h6>Consultant</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#georgia">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Georgia_Noon_bgw16i.png" %>
						<div class="sector-title">
							<h5>Georgia Noone</h5>
							<h6>Office Manager</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="team-more-info">
			<div class="team-individual" id="toby">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Toby Speke</h3>
				<hr>
				<p>A qualified surveyor, Toby completed his APC and gained MRICS status at Knight Frank, where he worked successfully for a number of years before joining VanHan to head up their Development team. A subsequent move took him into the world of recruitment, working for one of the largest property recruitment firms. With extensive experience of both sides of the business, he has brought his insight to bear in creating Hanning Recruitment, where his innovative techniques identify top talent matched to specific job opportunities, making sure both client and candidate reap the rewards with long-term success.
				</p>
			</div>
			<div class="team-individual" id="rory">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Rory Penn</h3>
				<hr>
				<p>A qualified surveyor, Toby completed his APC and gained MRICS status at Knight Frank, where he worked successfully for a number of years before joining VanHan to head up their Development team. A subsequent move took him into the world of recruitment, working for one of the largest property recruitment firms. With extensive experience of both sides of the business, he has brought his insight to bear in creating Hanning Recruitment, where his innovative techniques identify top talent matched to specific job opportunities, making sure both client and candidate reap the rewards with long-term success.
				</p>
			</div>
			<div class="team-individual" id="tom">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Tom Van Straubenzee</h3>
				<hr>
				<p>A qualified surveyor, Toby completed his APC and gained MRICS status at Knight Frank, where he worked successfully for a number of years before joining VanHan to head up their Development team. A subsequent move took him into the world of recruitment, working for one of the largest property recruitment firms. With extensive experience of both sides of the business, he has brought his insight to bear in creating Hanning Recruitment, where his innovative techniques identify top talent matched to specific job opportunities, making sure both client and candidate reap the rewards with long-term success.
				</p>
			</div>
			<div class="team-individual" id="georgia">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Georgia Noon</h3>
				<hr>
				<p>A qualified surveyor, Toby completed his APC and gained MRICS status at Knight Frank, where he worked successfully for a number of years before joining VanHan to head up their Development team. A subsequent move took him into the world of recruitment, working for one of the largest property recruitment firms. With extensive experience of both sides of the business, he has brought his insight to bear in creating Hanning Recruitment, where his innovative techniques identify top talent matched to specific job opportunities, making sure both client and candidate reap the rewards with long-term success.
				</p>
			</div>
		</div>
	</div>
</div>



