<%= render 'shared/navbar' %>
<div class="banner-small">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504307290/Asset_3_dycbnw.png" %>
</div>
<div class="wrapper">
	<div class="page-content">
		<div class="about-us">
			<div class="about-us-left-col">
				<h2>About Us</h2>
				<hr>
				<p><strong>At Hanning Recruitment, our passion for property has inspired us to redefine real estate recruitment.</strong>
				<br></br>
				Our strategic approach, combined with our enviable black book of contacts and industry experience, allows us to open doors that others can’t - identifying top talent and only putting forward the most appropriate candidates. 
				<br></br>
				We believe in building long-term, strategic partnerships with clients and candidates alike, with successful placements bringing greater business benefits.
				<br></br>
				Founded by Toby Speke MRICS, Hanning Recruitment’s management is fully MRICS qualified with industry experience that extends beyond recruitment to the commercial and residential property sectors.
				<br></br>
				We understand what makes our clients and candidates tick and we want to share our insights and market connectivity to ensure successful hires and prosperity for all parties.</p>
			</div>
			<div class="about-us-right-col">
				<h2 class="test1 fadeIn">"Prior to contacting Hanning I tried three other recruitment agencies over the course of 3 months with no luck. After meeting Toby I immediately felt comfortable and relaxed knowing that my voice was being heard and my best interests were their priority. Within 3 weeks of the first meeting I was placed in my current role which I hugely enjoy within a company I hope to remain at for the foreseeable future." <br></br>– Candidate</h2>
				<br></br>
				<h2 class="test2 hidden fadeIn">"Toby was given a challenging brief which he completed successfully through his obvious professionalism and excellent connections in the market.  The chosen candidate exceeded our expectations in all aspects and we are delighted with the result achieved.  I would not hesitate to use Toby again or to recommend him to any of my contemporaries looking for a first class service." 
				<br></br>– Client</h2>
				<br></br>
				<h2 class="test3 hidden fadeIn">"Communicative and honest, Hanning's professional manner and friendly approach from start to finish is why I will always recommend them to anyone looking for a new role in the real estate industry." 
				<br></br>– Candidate</h2>
			</div>
			<div class="about-us-right-col hidden">
				<!-- <div class="team-circles team-circles-first">
					<div class="team-circle" data-target="#toby">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Toby_Speke_mdhcb0.png" %>
						<div class="sector-title">
							<h5>Toby Speke MRICS</h5>
							<h6>Founder and Managing Director</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#tom">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297633/Tom_Van_Straubenzee_jadpqp.png" %>
						<div class="sector-title">
							<h5>Thomas van Straubenzee MRICS</h5>
							<h6>Consultant</h6>
						</div>
					</div>
				</div>
				<div class="team-circles team-circles-second">
					<div class="team-circle" data-target="#rory">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Rory_Penn_gbe6ng.png" %>
						<div class="sector-title">
							<h5>Rory Penn MRICS IMC</h5>
							<h6>Consultant</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#georgia">
						<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504297403/Georgia_Noon_bgw16i.png" %>
						<div class="sector-title">
							<h5>Georgia Noone</h5>
							<h6>Office Manager</h6>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="about-us-logos-wrapper hidden">
			<div class="about-us-logos">
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571748/Knight-Frank_ll8hsv.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/strutt-and-parker-logo_l9xpkl.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/grosvenor_logo_pf69en.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/PalmerCapital_1_qtcqmt.png" %>
			</div>
		</div>
		<div class="team-more-info hidden">
			<div class="team-individual" id="toby">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Toby Speke</h3>
				<hr>
				<p>A qualified surveyor, Toby gained MRICS status at the major global consultancy firm Knight Frank, where he worked successfully for a number of years before joining VanHan to head up their Development team. He subsequently moved into the world of real estate recruitment, working for one of the largest UK and European property recruitment firms. With extensive experience of both sides of the business. Toby set up Hanning Recruitment, where his focussed and proactive approach to identify top talent allows both clients and candidates to reap the rewards and build strong teams and create long term success.
				</p>
			</div>
			<div class="team-individual" id="rory">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Rory Penn</h3>
				<hr>
				<p>Rory has been at the forefront of London’s commercial and residential real estate markets for many years, with a well-earned reputation for his professionalism, network of contacts and strategic counsel. He has worked as Investment Manager at Grosvenor, the Duke of Westminster’s private property company with an extensive portfolio of £11.8bn under management across 300 acres of prime Central London. Then, as Director at Palmer Capital, he represented major institutional and private investors including Aviva, Henderson, Schroders, the Wellcome Trust and the Duchy of Lancaster (on behalf of HM The Queen). In 2012, he co-founded VanHan. Throughout his career, Rory has introduced top candidates to a number of top tier firms in the capital. 

				</p>
			</div>
			<div class="team-individual" id="tom">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Tom Van Straubenzee</h3>
				<hr>
				<p>Thomas qualified as a chartered surveyor at Strutt & Parker over ten years ago, and has gone on to gain extensive industry experience particularly focused on advising high net worth individuals, family offices and development firms on their real estate transactions in London. His personal commitment to clients has been key to his success and his understanding of their requirement for discretion, convenience and value for money has meant that his company VanHan – which he co-founded with Rory Penn – has secured a significant share of the prime Central London market.
				</p>
			</div>
			<div class="team-individual" id="georgia">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Georgia Noon</h3>
				<hr>
				<p>Georgia handles administrative affairs and manages marketing at Hanning Recruitment. A qualified Quest Professional on The Executive PA Programme, she is an integral part of the team.
				</p>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>


