<%= render 'shared/navbar' %>
<div class="banner-small">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504307290/Asset_3_dycbnw.png" %>
</div>
<div class="wrapper">
	<div class="page-content">
		<div class="about-us">
			<div class="about-us-left-col">
				<h2>About Us</h2>
				<hr>
				<p><strong>At Hanning Recruitment, our passion for property has inspired us to redefine real estate recruitment.</strong>
				<br></br>
				Our strategic approach, combined with our enviable black book of contacts and industry experience, allows us to open doors that others can’t - identifying top talent and only putting forward the most appropriate candidates. 
				<br></br>
				We believe in building long-term, strategic partnerships with clients and candidates alike, with successful placements bringing greater business benefits.
				<br></br>
				Founded by Toby Speke MRICS, Hanning Recruitment’s management is fully MRICS qualified with industry experience that extends beyond recruitment to the commercial and residential property sectors.
				<br></br>
				We understand what makes our clients and candidates tick and we want to share our insights and market connectivity to ensure successful hires and prosperity for all parties.</p>
			</div>
			<!-- <div class="about-us-right-col"> -->
				<!-- <div class="test-circle">
					<h2 class="test1">"Prior to contacting Hanning I tried three other recruitment agencies over the course of 3 months with no luck. After meeting Toby I immediately felt comfortable and relaxed knowing that my voice was being heard and my best interests were their priority. Within 3 weeks of the first meeting I was placed in my current role which I hugely enjoy within a company I hope to remain at for the foreseeable future." <br></br><span>– Candidate</span></h2>
					<br></br>
				</div>
				<div class="test-circle">
					<h2 class="test2">"Toby was given a challenging brief which he completed successfully through his obvious professionalism and excellent connections in the market.  The chosen candidate exceeded our expectations in all aspects and we are delighted with the result achieved.  I would not hesitate to use Toby again or to recommend him to any of my contemporaries looking for a first class service." 
					<br></br><span>– Client</span></h2>
					<br></br>
				</div>
				<div class="test-circle hidden">
					<h2 class="test3">"Communicative and honest, Hanning's professional manner and friendly approach from start to finish is why I will always recommend them to anyone looking for a new role in the real estate industry." 
					<br></br><span>– Candidate</span></h2>
				</div> --> 
			<!-- </div> --> 
			<div class="about-us-right-col">
				<div class="team-circles team-circles-first">
					<div class="team-circle" data-target="#toby">
						<%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1530776342/TobySpeke_bzvfnd.png" %>
						<div class="sector-title">
							<h5>Toby Speke MRICS</h5>
							<h6>Director</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#ankush">
						<%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1530776368/AnkushBerry_vml7a0.png" %>
						<div class="sector-title">
							<h5>Ankush Berry</h5>
							<h6>Researcher</h6>
						</div>
					</div>
				</div>
				<div class="team-circles team-circles-second">
					<div class="team-circle" data-target="#edward">
						<%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1530776343/EdwardRigby_tgs6qc.png" %>
						<div class="sector-title">
							<h5>Edward Rigby</h5>
							<h6>Director</h6>
						</div>
					</div>
					<div class="team-circle" data-target="#fran">
						<%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1530776344/FrancescaTarrant_xua8d5.png" %>
						<div class="sector-title">
							<h5>Francesca Tarrant</h5>
							<h6>Marketing Consultant</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="about-us-logos-wrapper">
			<div class="about-us-logos">
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571748/Knight-Frank_ll8hsv.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/strutt-and-parker-logo_l9xpkl.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/grosvenor_logo_pf69en.png" %>
				<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504571749/PalmerCapital_1_qtcqmt.png" %>
			</div>
		</div> -->
		<div class="team-more-info">
			<div class="team-individual" id="toby">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Toby Speke</h3>
				<hr>
				<p>Toby is a qualified surveyor having completed his APC and gained MRICS status at Knight Frank, where he worked for a number of years before moving to VanHan to head up their Development team. He subsequently transitioned into property recruitment, where he ran a team at one of the largest property recruitment firms, achieving exceptional results. Here, he was able to hone his skills identifying genuine talent and matching candidates to specific client requirements to ensure optimum results all-round.
				<br></br>
				When Toby is not in the office, he is a passionate amateur jockey – meaning he has to keep himself very fit!
				</p>
			</div>
			<div class="team-individual" id="edward">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Edward Rigby</h3>
				<hr>
				<p>Edward is a highly qualified and experienced real estate recruitment professional. He joins Hanning Recruitment as Director, working alongside Toby Speke, having previously worked in the General Practice team of leading property recruitment company Macdonald & Company. He is committed to offering a high-quality, bespoke recruitment service that is focused on personalising services according to client requirements. 
				<br></br>
				Out of the office, Edward enjoys socialising, travel, cooking, skiing and spending time in the countryside.
				</p>
			</div>
			<div class="team-individual" id="ankush">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Ankush Berry</h3>
				<hr>
				<p>Ankush studied English with Creative Writing at Goldsmiths University, joined the team, where he quickly found recruitment best fit his growing passion for real estate. Detail driven, Ankush always goes the extra mile to source the very best candidates. When he isn't, Ankush is constantly expanding his knowledge of the real estate sectors; reading Toby's RICS revision notes on becoming a qualified surveyor. 
				<br></br>
				Outside of the office Ankush enjoys running, writing, and occasionally telling bad jokes in front of big audiences.
				</p>
			</div>
			<div class="team-individual" id="fran">
        <i class="fa fa-times" aria-hidden="true"></i>
				<h3>Francesca Tarrant</h3>
				<hr>
				<p>Francesca is an experienced independent marketing and strategic communications’ professional who has worked on a number of major prime real estate, development and destination-focused campaigns in London, the UK and internationally. 
				<br></br>
				She works alongside Hanning Recruitment to provide counsel on company, client and candidate positioning, content, PR and marketing. 
				</p>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>


