<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="contact-box">
			<div class="contact-details">
				<h2>Contact</h2>
				<hr>
				<p>29 Curzon Street
				<br>Mayfair
				<br>London
				<br>W1J 7TL
				<br></br>
				<a href="tel:+44-753-525-5726">+44 (0)7870 813256</a><br>
				<a href="mailto:info@hanningrecruitment.com">info@hanningrecruitment.com</a><br>
				</p>
			</div>
			<div class="contact-form">
				<%= render "shared/contact_form" %>
        		<%= @message %>
			</div>
		</div>
		<div class="map">
			<%= image_tag "https://res.cloudinary.com/dwkjj7bpb/image/upload/v1554898253/HR-map_dtxwmd.png" %>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>


