<%= render 'shared/landing_navbar' %>
<div class="banner wrapper">
	<div class="banner-content">
	<%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "submark-logo" %>
    <%= image_tag "Hanning_FullLogo_RGB_White.png", class: "main-logo" %>
    	<h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
  	<div class="menu-circles fadeIn hidden hidden-xs hidden-sm">
      <div class="menu-circle">
      <h6><%= link_to "What We Do", what_we_do_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "About Us", about_us_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "Live Roles", live_roles_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "News", news_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "Contact", contact_path %></h6>
      </div>
  	</div>
  	<div class="home-strip fadeIn hidden text-center">
  		<h4 class="hidden">Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
</div>
