<%= render 'shared/landing_navbar' %>
<div class="banner wrapper">
	<div class="banner-content">
	<%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "submark-logo" %>
    <%= image_tag "Hanning_FullLogo_RGB_White.png", class: "main-logo" %>
    	<h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
  	<div class="menu-circles fadeIn hidden hidden-xs hidden-sm">
      <div class="menu-circle">
      <h6><%= link_to "What We Do", what_we_do_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "About Us", about_us_path %></h6>
      </div>
      <div class="menu-circle">
      <h6><%= link_to "Live Roles", live_roles_path %></h6>
      </div>
      <!-- <div class="menu-circle">
      <h6><%= link_to "News", news_path %></h6>
      </div> -->
      <div class="menu-circle">
      <h6><%= link_to "Contact", contact_path %></h6>
      </div>
  	</div>
  	<div class="home-strip fadeIn hidden hidden-sm hidden-xs text-center">
  		<h4 class="hidden">Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
</div>



<!-- what we do -->
<div class="wrapper hidden-md hidden-lg hidden-xl">
  <div class="page-content">
    <div class="what-we-do">
      <div class="what-we-do-left-col">
        <h2>What We Do</h2>
        <hr>
        <p><strong>Hanning Recruitment specialises in matching top candidates to their dream jobs in real estate – from graduate roles to senior positions at Director and Partner level. Our team is led by MRICS qualified experts who are perfectly placed to strengthen businesses and drive success.</strong></p>
      </div>
      <div class="what-we-do-right-col">
        <p>
        <ul><li>Our team is led by MRICS qualified experts who are perfectly placed to strengthen businesses and drive success
        Over 30 years’ industry experience has given us unparalleled market knowl- edge of both the Commercial and Residential property sectors, as well as an extensive network of contacts</li>
        <li>We understand the rigours of real estate and securing a successful placement is our priority, working out of hours as required and always going the extra mile for our clients</li>
        <li>Integrity is at the heart of everything we do, looking to build long-term partnerships with clients and candidates alike to ensure that the decisions you take today will have a positive impact on your business tomorrow</li>
        <li>Our team acts for organisations across the real estate industry from boutique investment property companies and private equity firms to developers, funds, banks and consultancy firms</li></ul></p>
      </div>
    </div>
    <div class="sector-section">
      <div class="sector-circles sector-circles-top">
        <div class="sector-circle" data-target="#investment">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301876/Asset_9_prltvk.png" %>
          <div class="sector-title sector-margin">
            <p>INVESTMENT</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#ass-man">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301880/Asset_11_ghyz5z.png" %>
          <div class="sector-title">
            <p>ASSET MANAGEMENT</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#finance">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301875/Asset_12_rt89st.png" %>
          <div class="sector-title sector-margin">
            <p>FINANCE</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#land-dev">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504303233/Asset_2_mkawir.png" %>
          <div class="sector-title">
            <p>LAND & DEVELOPMENT</p>
          </div>
        </div>
      </div>
      <div class="sector-circles sector-circles-bottom">
        <div class="sector-circle" data-target="#gen-prac">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504304141/Asset_2_lhflm9.png" %>
          <div class="sector-title">
            <p>GENERAL PRACTICE</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#prop-tech">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301879/Asset_15_ffv8ub.png" %>
          <div class="sector-title sector-margin">
            <p>PROP TECH</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#construction">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301874/Asset_16_ztih7t.png" %>
          <div class="sector-title sector-margin">
            <p>CONSTRUCTION</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#agency">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504301875/Asset_17_ojmzly.png" %>
          <div class="sector-title sector-margin">
            <p>AGENCY</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sector-more-info">
      <div class="sector-individual active" id="investment">
        <h3>Investment</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="ass-man">
        <h3>Asset Management</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="finance">
        <h3>Finance</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="land-dev">
        <h3>Land & Development</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="gen-prac">
        <h3>General Practice</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="prop-tech">
        <h3>Prop Tech</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="construction">
        <h3>Construction</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="agency">
        <h3>Agency</h4>
        <hr>
        <p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Asset Manager</li>
          <li>Portfolio Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>


    </div>
  </div>
</div>





