<%= render 'shared/landing_navbar' %>
<div class="banner wrapper">
	<div class="banner-content">
	<%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "submark-logo" %>
    <%= image_tag "Hanning_FullLogo_RGB_White.png", class: "main-logo" %>
    <h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  </div>
  <div class="faded-logo fadeIn hidden hidden-xs hidden-sm">
    <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504597182/Asset_9_1_aof9tg.png" %>
  </div>
	<div class="menu-circles fadeIn hidden hidden-xs hidden-sm">
    <%= link_to what_we_do_path do %>
      <div class="menu-circle">
        <h6>What We Do</h6>
      </div>
    <% end %>
    <%= link_to about_us_path do %>
      <div class="menu-circle">
        <h6>About Us</h6>
      </div>
    <% end %>
    <%= link_to live_roles_path do %>
      <div class="menu-circle">
        <h6>Live Roles</h6>
      </div>
    <% end %>
    <%= link_to news_path do %>
      <div class="menu-circle">
        <h6>News</h6>
      </div>
    <% end %>
    <%= link_to contact_path do %>
      <div class="menu-circle">
        <h6>Contact</h6>
      </div>
    <% end %>
	</div>
	<div class="home-strip fadeIn hidden hidden-sm hidden-xs text-center">
		<h4 class="hidden">Connected <span>–</span> Professional <span>–</span> Trusted</h4>
	</div>
</div>



<!-- what we do -->
<div class="wrapper hidden-md hidden-lg hidden-xl">
  <div class="page-content">
    <div class="what-we-do">
      <div class="what-we-do-left-col">
        <h2>What We Do</h2>
        <hr>
        <p><strong>Hanning is a leading real estate recruitment firm, specialising in matching top candidates to their dream jobs in real estate.</strong></p>
      </div>
      <div class="what-we-do-right-col">
        <p>
        <ul><li>Our team is led by MRICS qualified experts who are perfectly placed to strengthen businesses and drive success</li>
        <li>Over 30 years’ industry experience has given us unparalleled market knowledge of both the Commercial and Residential property sectors, as well as an extensive network of contacts</li>
        <li>Our team recruits for organisations across the real estate industry from property investment companies and private equity firms to developers, funds, banks and consultancy firms</li>
        <li>We understand the rigours of real estate and the importance in securing a successful placement is our priority. We work out of hours as required and always go the extra mile for our clients</li>
        <li>Integrity is at the heart of everything we do. We want to build long term partnerships with clients and candidates alike to ensure that the decisions you take today will have a positive impact on your business tomorrow
        </li>
        </ul></p>
      </div>
    </div>
    <div class="sector-section">
      <div class="sector-circles sector-circles-top">
        <div class="sector-circle" data-target="#investment">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504565009/Asset_2_yflodc.png" %>
          <div class="sector-title sector-margin">
            <p>INVESTMENT</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#ass-man">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504564830/Asset_1_f9e2os.png" %>
          <div class="sector-title">
            <p>ASSET MANAGEMENT</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#finance">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504567541/Asset_8_1_poqgpp.png" %>
          <div class="sector-title sector-margin">
            <p>FINANCE</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#land-dev">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504303233/Asset_2_mkawir.png" %>
          <div class="sector-title">
            <p>LAND & DEVELOPMENT</p>
          </div>
        </div>
      </div>
      <div class="sector-circles sector-circles-bottom">
        <div class="sector-circle" data-target="#gen-prac">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504566380/Asset_9_ybbwyi.png" %>
          <div class="sector-title">
            <p>GENERAL PRACTICE</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#prop-tech">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504564827/Asset_5_j24ahu.png" %>
          <div class="sector-title sector-margin">
            <p>PROP TECH</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#construction">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504564831/Asset_4_ban6es.png" %>
          <div class="sector-title sector-margin">
            <p>CONSTRUCTION</p>
          </div>
        </div>
        <div class="sector-circle" data-target="#agency">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504304141/Asset_2_lhflm9.png" %>
          <div class="sector-title sector-margin">
            <p>RESIDENTIAL</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sector-more-info">
      <div class="sector-individual active" id="investment">
        <h3>Investment</h4>
        <hr>
        <p>
        <ul>
        <li>Investment Manager </li>
        <li>Investment Agent</li>
        <li>Fund Manager </li>
        <li>Investment analyst </li>
        <li>Deal Origination</li>
        <li>Portfolio Manager</li>
        <li>Investment Surveyor</li>
        <li>Land Buyer</li>
        <li>Acquisition Surveyor</li>
        <li>Land Agent </li>
        <li>Acquisition Analyst</li>
        <li>Private Equity specialists</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="ass-man">
        <h3>Asset Management</h4>
        <hr>
        <p>
        <ul>
          <li>Fund Manager</li>
          <li>Asset Manager</li>
          <li>Assistant Fun Manager</li>
          <li>Portfolio Analyst</li>
          <li>Property Manager</li>
          <li>Investment Manager</li>
          <li>Analyst</li>
          <li>Operations Manager</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="finance">
        <h3>Finance</h4>
        <hr>
        <p>
        <ul>
          <li>Debt and Equity Analyst</li>
          <li>Finance Analyst</li>
          <li>Capital Raising</li>
          <li>Loan Underwriting & Deal Execution</li>
          <li>Business Development </li>
          <li>Loan Origination</li>
          <li>Portfolio Management</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="land-dev">
        <h3>Land & Development</h4>
        <hr>
        <p>
        <ul>
          <li>Land Buyers</li>
          <li>Land Managers</li>
          <li>Development Managers</li>
          <li>Development Analysts</li>
          <li>Planning and Design Manager</li>
          <li>Development Surveyor</li>
          <li>Strategic Land Buyer</li>
          <li>Strategic Land Manger</li>
          <li>New Homes Consultant</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="gen-prac">
        <h3>General Practice</h4>
        <hr>
        <p>
        <ul>
          <li>Commercial Agency and Leasing</li>
          <li>Property Management</li>
          <li>Investment Agency</li>
          <li>Property Analyst</li>
          <li>Development Surveyor</li>
          <li>Valuation Surveyor</li>
          <li>Landlord & Tenant Surveyor</li>
          <li>Business Development</li>
          <li>Commercial & Residential Capital Markets Analyst</li>
          <li>Estate Manager</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="prop-tech">
        <h3>Prop Tech</h4>
        <hr>
        <p>
        <ul>
          <li>Business Sales Managers</li>
          <li>Business Development</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="construction">
        <h3>Construction</h4>
        <hr>
        <p>
        <ul>
          <li>Development Manger</li>
          <li>Planning & Design Management</li>
          <li>Project Managers</li>
          <li>Building Surveyors</li>
          <li>Quantity Surveyors</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
      <div class="sector-individual" id="agency">
        <h3>Residential</h4>
        <hr>
        <p>
        <ul>
          <li>Estate Agent</li>
          <li>Letting Agent</li>
          <li>Residential Capital Markets Specialist</li>
          <li>Residential Property Manger</li>
          <li>Block Manager</li>
          <li>Marketing</li>
          <li>Residential Valuations</li>
          <li>Leasehold Valuation Surveyor</li>
          <li>PRS Development Manager</li>
          <li>New Homes Sales Consultant</li>
          <li>Planner</li>
          <li>Estate Manager</li>
          <li>Residential Land Surveyor</li>
          <li>Development Manager</li>
          <li>Investment Manager</li>
          <li>Analyst</li>
        </ul>
        </p>
        <p><%= link_to "Contact us", contact_path %> for a confidential call back</p>
      </div>
    </div>
  </div>
</div>
