<%= render 'shared/navbar' %>
<div class="banner">
	<div class="banner-content fadeOut hidden">
	<%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "submark-logo" %>
    <%= image_tag "Hanning_FullLogo_RGB_White.png", class: "main-logo" %>
    	<h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
  	<div class="menu-circles">
      	<%= link_to "What We Do", "", class: "menu-circle-link" %>
      	<%= link_to "About Us", "", class: "menu-circle-link" %>
      	<%= link_to "Live Roles", "", class: "menu-circle-link" %>
      	<%= link_to "News", "", class: "menu-circle-link" %>
      	<%= link_to "Contact", "", class: "menu-circle-link" %>
  	</div>
  	<div class="home-strip text-center">
  		<h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
</div>
