<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="live-roles">
			<div class="live-roles-title">
					<h2>Live Roles</h2>
					<hr>
			</div>
			<div class="live-roles-filters">
				<%= link_to "All Jobs", "", class: "btn btn-filter btn-all-jobs" %>
				<%= link_to "Commercial", "", class: "btn btn-filter btn-commercial" %>
				<%= link_to "Residential", "", class: "btn btn-filter btn-residential" %>
			</div>
			<div class="job-roles">
				<div class="job-role">
					<div class="job-title">
						<h6 class= "hidden-sm hidden-xs">Role</h6>
					</div>
					<div class="job-sector">
						<h6 class= "hidden-sm hidden-xs">Sector</h6>
					</div>
					<div class="job-salary">
						<h6 class= "hidden-sm hidden-xs">Salary</h6>
					</div>
					<div class="job-package">
						<h6 class= "hidden-sm hidden-xs">Package</h6>
					</div>
					<div class="job-description">
						<h6 class= "hidden-sm hidden-xs">Description</h6>
					</div>
				</div>















      <div class="all-rolls">
        <div class="page active">
        <% count = 1 %>
        <% @live_roles.each do |role| %>
        <% if role.category.id == 1 %>
          <% category = "commercial" %>
        <% elsif role.category.id == 2 %>
          <% category = "residential" %>
        <% else %>
          <% category = "c-and-r" %>
        <% end %>
          <div class="<%= "#{category} job-role live-job" %>" data-target=<%= "##{role.id}" %>>
            <div class="job-title">
            <p><%= role.title %></p>
            </div>
            <div class="job-sector">
            <p><%= role.sector %></p>
            </div>
            <div class="job-salary">
            <p><%= role.salary %></p>
            </div>
            <div class="job-package">
            <p><%= role.package %></p>
            </div>
            <div class="job-description">
            <p><%= role.company %></p>
            </div>
          </div>
          <% if count == 8 %>
            </div>
            <div class="page">
          <% end %>
          <% count += 1 %>
          <% end %>
        </div>
        <div class="scroll-btns">
          <span class="prev">< Prev</span>
          <span class="next">Next ></span>
        </div>
      </div>



      <div class="commercial-rolls hidden">
        <div class="page active">
        <% count = 1 %>
        <% @commercial_roles.each do |role| %>
        <% if role.category.id == 1 %>
          <% category = "commercial" %>
        <% elsif role.category.id == 2 %>
          <% category = "residential" %>
        <% else %>
          <% category = "c-and-r" %>
        <% end %>
          <div class="<%= "#{category} job-role live-job" %>" data-target=<%= "##{role.id}" %>>
            <div class="job-title">
            <p><%= role.title %></p>
            </div>
            <div class="job-sector">
            <p><%= role.sector %></p>
            </div>
            <div class="job-salary">
            <p><%= role.salary %></p>
            </div>
            <div class="job-package">
            <p><%= role.package %></p>
            </div>
            <div class="job-description">
            <p><%= role.company %></p>
            </div>
          </div>
          <% if count == 8 %>
            </div>
            <div class="page">
          <% end %>
          <% count += 1 %>
          <% end %>
        </div>
        <div class="scroll-btns">
          <span class="prev">< Prev</span>
          <span class="next">Next ></span>
        </div>
      </div>
				<!-- <div class="job-role live-job">
					<div class="job-title">
						<p>Senior Development Manager</p>
					</div>
					<div class="job-sector">
						<p>PRS</p>
					</div>
					<div class="job-salary">
						<p>£70K-£80K</p>
					</div>
					<div class="job-package">
						<p>Bonus + Benefits</p>
					</div>
					<div class="job-description">
						<p>A top-tier private equity company</p>
					</div>
				</div> -->
			</div>
		</div>


    <div class="live-roles-more-info-wrapper">
      <% @live_roles.each do |role| %>
        <div class="live-roles-more-info" id="<%= role.id %>">
          <h3><%= role.title %></h3>
          <hr>
          <p>Sector: <%= role.sector %></p>
          <p>Salary: <%= role.salary %></p>
          <p>Package: <%= role.package %></p>
          <p>Company: <%= role.company %></p>
          <p>Location: <%= role.location %></p>
          <p>Role: <%= simple_format role.role %></p>
          <button class="apply-now btn" data-toggle="modal" data-target=<%= "#role#{role.id}" %>>Apply Now</button>
        </div>
        <div class="modal fade" id=<%= "role#{role.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog register-form" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply for <%= role.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for @job_application do |a| %>
                <%= a.input :name, label: false, placeholder: "Name" %>
                <%= a.input :email, label: false, placeholder: "Email" %>
                <%= a.input :phone, label: false, placeholder: "Phone" %>
                <%= hidden_field_tag :role_id, role.id %>
                <label class="btn btn-upload-blue">
                Upload CV
                  <%= a.input :cv, label: false, class: "upload-cv" %>
                </label>
                <div class="filename"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-commercial" data-dismiss="modal">Close</button>
                <%= a.submit "Submit", class: "btn btn-apply-form" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

		<!-- <div class="live-roles-more-info">
			<h3>Senior Development Manager</h3>
			<hr>
			<p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include.
			</p>
		</div> -->
	</div>
</div>
<%= render 'shared/footer' %>
