<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="live-roles">
			<div class="live-roles-title">
					<h2>Live Roles</h2>
					<hr>
			</div>
			<div class="live-roles-filters">
				<%= link_to "All Jobs", "", class: "btn btn-filter btn-all-jobs" %>
				<%= link_to "Commercial", "", class: "btn btn-filter btn-commercial" %>
				<%= link_to "Residential", "", class: "btn btn-filter btn-residential" %>
			</div>
			<div class="job-roles">
				<div class="job-role">
					<div class="job-title">
						<h6>Role</h6>
					</div>
					<div class="job-sector">
						<h6>Sector</h6>
					</div>
					<div class="job-salary">
						<h6>Salary</h6>
					</div>
					<div class="job-package">
						<h6>Package</h6>
					</div>
					<div class="job-description">
						<h6>Description</h6>
					</div>
				</div>


        <% @live_roles.each do |role| %>
          <div class="job-role live-job" data-target=<%= "##{role.id}" %>>
            <div class="job-title">
            <p><%= role.title %></p>
            </div>
            <div class="job-sector">
            <p><%= role.sector %></p>
            </div>
            <div class="job-salary">
            <p><%= role.salary %></p>
            </div>
            <div class="job-package">
            <p><%= role.package %></p>
            </div>
            <div class="job-description">
            <p><%= role.company %></p>
            </div>
          </div>
          <% end %>
				<!-- <div class="job-role live-job">
					<div class="job-title">
						<p>Senior Development Manager</p>
					</div>
					<div class="job-sector">
						<p>PRS</p>
					</div>
					<div class="job-salary">
						<p>£70K-£80K</p>
					</div>
					<div class="job-package">
						<p>Bonus + Benefits</p>
					</div>
					<div class="job-description">
						<p>A top-tier private equity company</p>
					</div>
				</div> -->
			</div>
		</div>








    <% @live_roles.each do |role| %>
      <div class="live-roles-more-info" id="<%= role.id %>">
        <h3><%= role.title %></h3>
        <hr>
        <p><%= role.role %></p>
      </div>




		<!-- <div class="live-roles-more-info">
			<h3>Senior Development Manager</h3>
			<hr>
			<p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include.
			</p>
		</div> -->
	</div>
</div>



