<div class="wrapper">
	<div class="page-content">
		<div class="what-we-do">
			<div class="what-we-do-left-col">
				<h1>What We Do</h1>
				<hr>
				<p>Hanning Recruitment specialises in matching top candidates to their dream jobs in real estate – from graduate roles to senior positions at Director and Partner level. Our team is led by MRICS qualified experts who are perfectly placed to strengthen businesses and drive success. </p>
			</div>
			<div class="what-we-do-right-col">
				<p>
				<ul><li>Our team is led by MRICS qualified experts who are perfectly placed to strengthen businesses and drive success
				Over 30 years’ industry experience has given us unparalleled market knowl- edge of both the Commercial and Residential property sectors, as well as an extensive network of contacts</li>
				<li>We understand the rigours of real estate and securing a successful placement is our priority, working out of hours as required and always going the extra mile for our clients</li>
				<li>Integrity is at the heart of everything we do, looking to build long-term partnerships with clients and candidates alike to ensure that the decisions you take today will have a positive impact on your business tomorrow</li>
				<li>Our team acts for organisations across the real estate industry from boutique investment property companies and private equity firms to developers, funds, banks and consultancy firms</li></ul></p>
			</div>
		</div>
		<div class="sector-section">
			<div class="sector-circles sector-circles-top">
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>INVESTMENT</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>ASSET MANAGEMENT</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>FINANCE</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>LAND & DEVELOPMENT</p>
					</div>
				</div>
			</div>
			<div class="sector-circles sector-circles-bottom">
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>GENERAL PRACTICE</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>PROP TECH</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>CONSTRUCTION</p>
					</div>
				</div>
				<div class="sector-circle">
					<%= image_tag "https://unsplash.it/200/300/?random" %>
					<div class="sector-title">
						<p>AGENCY</p>
					</div>
				</div>
			</div>
		</div>
		<div class="sector-more-info">
			<h3>Asset Management</h4>
			<hr>
			<p>From funds & consultancies to developers, property companies, institutions and retailers. Typical roles include:
			<ul>
				<li>Fund Manager</li>
				<li>Asset Manager</li>
				<li>Assistant Asset Manager</li>
				<li>Portfolio Analyst</li>
			</ul>
			</p>
			<p>Contact us for a confidential call back</p>
		</div>
	</div>
</div>



