You have recieved a job application:
<br>
<p>Name: <%= @job_application.name %></p>
<p>Email: <%= @job_application.email %></p>
<% if @job_application.live_role %>
<p>Role: ID:<%= @job_application.live_role.id %> - <%= @job_application.live_role.title %></p>
<br>
<%= link_to "Download CV", cl_image_path(@job_application.cv) %>
